
h1{ text-align: center;}

.georgina_style {background: transparent;
}


    .imagesize {height: 75; }

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.navbar {
    color: white;
    background-color: transparent;
}

.text-center {text-align:center;}

a {color:white;}

body{ color:white;}
body {font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;}

.img-circle {height:250;}